<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>Taipei Day Trip</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/attraction-layout.css') }}">
        <script src="{{ url_for('static', filename= 'javaScript/attraction.js')}}"></script>
    </head>
    <body>
        <header >
            <nav class="header">
                <ul class='nav_bar'>
                    <li class='logo' onclick="returnIndex();">Taipei Daytrip</li>
                    <span class="menu">
                        <li id="booking-link"><a onclick="bookingButton()" >Booking</a></li>
                        <li id="login-link"><a onclick="loginBlock()">Log in/ Sign up</a></li>
                        <li id="logout-link"><a onclick="logoutBlock()">Log out</a></li>
                    </span>
                </ul>
            </nav>
            <div class="login-class"></div>
            <div class="login-form">
                <form action="/api/user/auth" method="PUT" id="signinForm">
                    <img src="/static/images/close.png" class="close-button" onclick="closeLoginForm()">
                    <div class="registration-top"></div>
                    <div style="display: flex; justify-content: center; font-size: 24px; font-weight: bold; margin: 10px; color: rgba(102, 102, 102, 1);" >
                        Log in</div>
                    <input type="text" placeholder="Email" class="text-input" id="signinEmail" name="signinEmail">
                    <input type="password" placeholder="Password" class="text-input" id="signinPassword" name="signinPassword">
                    <button class="login-button-text" onclick= submitSigninForm(event)>Login</button>
                    <div class="signin-message-box"></div>
                    <div class="create-text" onclick="switchToRegist()">Don't have an account? Sign up</div>
                </form>
            </div>
            <div class="registration-form">
                <form action="/api/user" method="POST" id="signupForm" >
                    <img src="/static/images/close.png" class="close-button" onclick="closeRegistForm()">
                    <div class="registration-top"></div>
                    <div style="display: flex; justify-content: center; font-size: 24px; font-weight: bold; margin: 10px; color: rgba(102, 102, 102, 1);" >
                        Sign up</div>
                    <input type="text" placeholder="Name" class="text-input" id="signupName" name="signupName">
                    <input type="text" placeholder="Email" class="text-input" id="signupEmail" name="signupEmail">
                    <input type="password" placeholder="Password" class="text-input" id="signupPassword" name="signupPassword">
                    <button class="login-button-text" onclick= submitSignupForm(event)>Sign up</button>
                    <div class="message-box"></div>
                    <div class="create-text" onclick="switchToLogin()">Have an account? Log in</div>
                </form>
            </div>
        </header>
        <div class="info-flex">
            <section>
                <div class="img-box" id="imageGallery" src="">
                    <div class="image-gallery-circle" id="dotContainer"></div>
                    <img id="leftArrow" class="left-arrow" src="{{ url_for('static', filename='images/arrowLeftStatesHovered.png') }}" onclick="leftArrow();">
                    <img id="rightArrow" class="right-arrow" src="{{ url_for('static', filename='images/arrowRightStatesHovered.png') }}" onclick="rightArrow();">
                </div>
                <div class="schedule-box">
                    <div class="attraction-title"></div>
                    <div class="attraction-category-mrt"></div>
                    <div class="booking-section">
                        <div class="booking-title-text-bottom15">Booking a Guided Tour</div>
                        <div class="booking-content-text-bottom15">Discovering the top day trips from Taipei</div>
                        <div style="display: flex; align-items: center;" class="margin-bottom-15px">
                            <div class="booking-title-text">Date:</div>
                                <input type="date" class="date" id="dateInput">
                        </div>
                        <div style="display: flex; align-items: center;" class="margin-bottom-15px">
                            <div class="booking-title-text">Time:</div>
                            <div id= checkLeft class="check-flex" onclick="check_left()">
                                <img id="leftIconUnfilled" src="{{ url_for('static', filename='images/click.png') }}" class="unfilled-icon">
                                <img id="leftIconFilled" src="{{ url_for('static', filename='images/click-filled.png') }}" class="filled-icon">
                                <div class="font-size-16px text-med" style="margin-left: 5px;">Morning</div>
                            </div>
                            <div id = checkRight class="check-flex" onclick="check_right()" style="margin-left: 15px;">
                                <img id="rightIconUnfilled" src="{{ url_for('static', filename='images/click.png') }}" class="unfilled-icon">
                                <img id="rightIconFilled" src="{{ url_for('static', filename='images/click-filled.png') }}" class="filled-icon">
                                <div class="font-size-16px text-med" style="margin-left: 5px;">Afternoon</div>
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; margin-bottom: 20px;">
                            <div class="booking-title-text">Tuition:</div>
                            <div id="tourCost" class="booking-content-text">Schdule: </div>
                        </div>                        
                        <div class="schedule-button" onclick="bookTrip()">Booking</div>
                    </div>
                </div>
            </section>
        </div>
            <div style="display: flex; justify-content: center;">
                <hr style="width: 1200px; opacity: 0.3; margin: 40px 0;">
            </div>
        </div>
        <div class="info-flex">
            <div style="width: 100%; max-width: 1200px;">
                <div class="info-intro"></div>
                <div class="info-address-title">Address:</div>
                <div class="info-address"></div>
                <div class="info-traffic-title">Transportation:</div>
                <div class="info-traffic"></div>
            </div>
        </div>

        <footer class="footer">
            <div class="footer-text">COPYRIGHT &copy; 2021 Taipei Day Trip</div>
        </footer>
    </body>
</html>