<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>Taipei Day Trip</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/booking-layout.css') }}">
        <script src="{{ url_for('static', filename= 'javaScript/booking.js')}}"></script>
        <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <nav>
                <ul class='nav_bar'>
                    <li class='logo' onclick="returnIndex();">Taipei Daytrip</li>
                    <span class="menu">
                        <li id="booking-link"><a onclick="bookingButton()" >Booking</a></li>
                        <li id="login-link"><a onclick="loginBlock()">Log in/ Sign up</a></li>
                        <li id="logout-link"><a onclick="logoutBlock()">Log out</a></li>
                    </span>
                </ul>
            </nav>
            <div class="login-class"></div>
            <div class="login-form">
                <form action="/api/user/auth" method="PUT" id="signinForm">
                    <img src="/static/images/close.png" class="close-button" onclick="closeLoginForm()">
                    <div class="registration-top"></div>
                    <div style="display: flex; justify-content: center; font-size: 24px; font-weight: bold; margin: 10px; color: rgba(102, 102, 102, 1);" >
                        Log in</div>
                    <input type="text" placeholder="Email" class="text-input" id="signinEmail" name="signinEmail">
                    <input type="password" placeholder="Password" class="text-input" id="signinPassword" name="signinPassword">
                    <button class="login-button-text" onclick= submitSigninForm(event)>Login</button>
                    <div class="signin-message-box"></div>
                    <div class="create-text" onclick="switchToRegist()">Don't have an account? Sign up</div>
                </form>
            </div>
            <div class="registration-form">
                <form action="/api/user" method="POST" id="signupForm" >
                    <img src="/static/images/close.png" class="close-button" onclick="closeRegistForm()">
                    <div class="registration-top"></div>
                    <div style="display: flex; justify-content: center; font-size: 24px; font-weight: bold; margin: 10px; color: rgba(102, 102, 102, 1);" >
                        Sign up</div>
                    <input type="text" placeholder="Name" class="text-input" id="signupName" name="signupName">
                    <input type="text" placeholder="Email" class="text-input" id="signupEmail" name="signupEmail">
                    <input type="password" placeholder="Password" class="text-input" id="signupPassword" name="signupPassword">
                    <button class="login-button-text" onclick= submitSignupForm(event)>Sign up</button>
                    <div class="message-box"></div>
                    <div class="create-text" onclick="switchToLogin()">Have an account? Log in</div>
                </form>
            </div>
        </header>
        <main class="main-flex">
            <div class="main-info" style="overflow-x: hidden; margin-bottom: 104px;">
                <div style="width: 100%; max-width: 1200px; display:flex; align-items: center; flex-direction: column;">
                    <div class="display-flex" style="max-width: 1000px; margin-bottom: 30px;">
                        <div class="text-title">Hello，<span id="usernamePlaceholder"></span>，The itinerary you've planned is as follows:</div>
                        <div class="test-context" id = "no-reservation">Currently no tours or activities are scheduled</div>
                        <div class="section" id = "section">
                            <img class="img" id="img" alt="img">
                            <div class="trip-info">
                                <img class="icon_delete-upper" src="../static/images/delete.png" onclick="deleteBooking()"/>
                                <div class="title0" style="margin-bottom: 20px;">Taipei Day trip：<span id="attractionTitle"></span></div>
                                <div class="date0" style="margin-top: 20px;">Date：<span class="section-text" id="attractionDate"></span></div>
                                <div class="time0">Time：<span class="section-text" id="attractionTime"></span></div>
                                <div class="price0">Tuition：<span class="section-text">NTD </span><span class="section-text" id="attractiondPrice"></span><span class="section-text">元</span></div>
                                <div class="address">Address：<span class="section-text" id="attractiondAddress"></span></div>
                                <img class="icon_delete-lower" src="../static/images/delete.png" onclick="deleteBooking()"/>
                            </div>
                        </div>
                    </div>
                 <hr id= "lineOne" style="width: 1200px; opacity: 0.3; margin: 40px 0;">
                    <div id="contact-info" class="display-flex">
                        <form class="info-form-container">
                            <div class="text-title" style="margin-bottom: 20px;">Contact Information</div>
                            <div class="text-content" style="margin-bottom: 15px;">Name:
                                <input id="contact-name" class="info-form-input" type="text" />
                            </div>
                            <div class="text-content" style="margin-bottom: 15px;">Email:
                                <input id="contact-email" class="info-form-input" type="email" />
                            </div>
                            <div class="text-content" style="margin-bottom: 15px;">Phone number:
                                <input id="contact-phone" class="info-form-input" type="tel" maxlength="10" pattern="[0-9]*"  data-pattern-validate/>
                            </div>
                            <div class="remider">Please keep your phone available, arrive on time, and ensure the tour personnel can reach you via phone. Please provide the correct contact information.</div>
                        </form>
                    </div>
                    <hr id= "lineTwo" style="width: 1200px; opacity: 0.3; margin: 40px 0;">
                    <div id="payment-info" class="display-flex">
                        <form class="info-form-container">
                            <div class="text-title" style="margin-bottom: 20px;">Card Details</div>
                            <div class="text-content" style="margin-bottom: 15px;">
                                <label for="unmber" style="margin-right: 10px;">Card Number:</label>
                                <div class="form-control card-number info-form-input"></div>
                            </div>     
                            <div class="text-content" style="margin-bottom: 15px;">
                                <label for="cardExpirationDate" style="margin-right: 10px;">Expiry date:</label>
                                <div class="form-control expiration-date info-form-input" id="tappay-expiration-date"></div>
                            </div>  
                            <div class="text-content" style="margin-bottom: 15px;">
                                <label for="cardCcv" style="margin-right: 10px;">CVV:</label>
                                <div class="form-control ccv info-form-input"></div>
                            </div>  
                        </form>
                    </div>
                    <hr id= "lineThree" style="width: 1200px; opacity: 0.3; margin: 40px 0;">
                    <div class="info-display-flex" style="display: flex; justify-content: end; margin-bottom: 40px;">
                        <div id= confirm-and-payment  class="info">
                            <div style="margin-bottom: 22px; font-weight: bold;">Tuition: NTD
                                <span id= "total-cost" class="total-cost"></span>
                            </div>
                            <div id="booked" onclick="onSubmit(event)" style="margin-bottom: 22px;" class="schedule-button btn btn-default">Pay Now</div>
                        </div>
                    </div>
                </div>             
            </div>
        </main>
        <footer class="footer">
            <div class="footer_text">COPYRIGHT &copy; 2021 Taipei Day Trip</div>
        </footer>
    </body>
</html>